{% extends 'polls/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% block content %}

    {% if latest_question_list %}


            <div class='some-page-wrapper'>
                <div class='row'>
                    {% for question in latest_question_list %}
                        <div class='column'>
                            <div class="polls">
                                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


    {% else %}
        <p>No polls are available.</p>
    {% endif %}

{% endblock %}