{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content%}
<section>

    <div class="container-flex">
        <div class="item flex3-child">Nam cursus nunc sem. Cras tempor ex eget ligula condimentum ornare. Nunc mollis
            ullamcorper ligula eleifend auctor. Nulla facilisi. Nunc malesuada efficitur metus, quis volutpat sapien
            placerat non. Aliquam tempus metus sit amet pharetra porttitor. Pellentesque urna neque, scelerisque vel
            venenatis vel, pretium sit amet nisi. Vivamus scelerisque tortor eu metus dignissim, non dictum velit
            ultricies. Sed quis laoreet mi.
        </div>
        <div class="item flex3-child"></div>
        <div class="item flex3-child"></div>
        <div class="item flex3-child">Morbi eget dapibus nisi. Aliquam vehicula suscipit est vel pretium. Etiam commodo
            nunc a mauris luctus elementum. Nam sed lacinia enim. Aenean in cursus risus. Duis sapien odio, scelerisque
            ac ex at, scelerisque mollis ligula. Curabitur finibus sem nec magna hendrerit, sed luctus velit pulvinar.
            Duis facilisis ante ac diam venenatis, in ullamcorper dolor sagittis.

        </div>
        <div class="item flex3-child">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae efficitur
            lorem. Morbi feugiat ornare dui at cursus. Nullam efficitur enim at sem mattis pellentesque. Curabitur
            dignissim mattis lacinia. Donec dolor lorem, mollis vel semper at, iaculis eu eros. Vestibulum a scelerisque
            nisi. Duis pretium felis tincidunt purus finibus, pellentesque.
        </div>
    </div>

</section>
{% endblock %}



